node_modules/
*.tsbuildinfo
.DS_Store
.vscode/
.rollup.cache/
.rollup.tscache/
.turbo/

plugin/dist/
plugin/types/
plugin/metadata/
docs/
projects/

dist/
types/

# PNPM store cache (do not commit)
# project freezing 시에 zero-install 때 사용용
.pnpm-store/
